<!DOCTYPE html>

{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'test1/style_blank14.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}">
  <script type="text/javascript" src="/static/main/cat.js"></script>
  <title>머신러닝 금융 분석 - 종목 분석/분류</title>
</head>

<body>
    <div class="subtite">
        <h1 class="subtext2">원하시는 결과를 선택해주세요.</h1>
    </div>

    <div class="btn_idx_group">
        <div class="btn-group test">
          <a href="{% url 'test4:result_classify' num=0 %}" class="btn btn-info">
            <button>
              <h1 class="medium_btn">종목의 상관관계 분석</h1>
            </button>
          </a>
        </div>
        <div class="btn-group test">
          <a href="{% url 'test4:result_classify' num=1 %}" class="btn btn-info">
            <button>
              <h1 class="medium_btn">종목별 유사군 분류</h1>
            </button>
          </a>
        </div>


        <div class="btn-group_vert test">
        </div>
        <div class="btn-group_vert test">
          <a href="{% url 'main:index' %}" class="btn btn-info">
            <button>
              <h1 class="small_btn">메인화면으로</h1>
            </button>
          </a>
        </div>
    </div>
    <div class="subtite">
        <h1 class="subtext2"> </h1>
    </div>

  <div class="banner_box">
    <div class="ad-banner_rect">
        <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit    = "DAN-Lqw7IbYJhg2dpnRh"
         data-ad-width   = "300"
         data-ad-height  = "250"></ins>
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    <div class="ad-banner_rect">
        <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit    = "DAN-1zvd3BlD2GEOwYWi"
         data-ad-width   = "300"
         data-ad-height  = "250"></ins>
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
  </div>

  <div class="banner_box">
    <div class="ad-banner_rect">
        <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit    = "DAN-pB6vm4lS970OBFLx"
         data-ad-width   = "300"
         data-ad-height  = "250"></ins>
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    <div class="ad-banner_rect">
        <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit    = "DAN-qMhOXpKFHmZFUxq7"
         data-ad-width   = "300"
         data-ad-height  = "250"></ins>
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
  </div>

</body>
</html>

<!--Copyright (c) 2021 by CookiePanda (https://codepen.io/CookiePanda/pen/XqWvdW)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->


<!--Copyright (c) 2021 by Philip Park (https://codepen.io/PhilipMothPark/pen/XMrPRw)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->
