<!DOCTYPE html>

{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'test1/style_blank14.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}">
  <script type="text/javascript" src="/static/main/cat.js"></script>
  <title>삼중창 매매 (EMA)</title>
</head>

<body>

    <h1 class="title2">삼중창 매매 (EMA)</h1>
    <div class="big-bubble">
        <h1 class="nametag">삼중창 매매란?</h1>
        <div class="align-text-box">
            <div class="text-box">
                <h1 class="content">삼중창 매매법은 </h1>
                <h1 class="higlight_conent">추세 추종과 역추세 매매를 함께 사용해 3단계의 기준을 거쳐 더 정확한 매매시점을 찾습니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="content">해당 전략의 가장 큰 장점은 다양한 시점(단기/중기/장기)으로 동시에 매매 신호를 비교할 수 있다는 것 입니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="content_tail">예를 들어, 주봉 차트의 추세가 하락하더라도 월봉 차트의 추세는 상승중일수 있기 때문에 시점 비교가 필요합니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="start_higlight_conent">첫번째 창은 추세추종 지표(EMA 또는 MACD 히스토그램)를 이용해 추세를 분석합니다. 두번째 창은 오실레이터</h1>
            </div>
            <div class="text-box">
                <h1 class="start_higlight_conent">(스토캐스틱)를 이용해 역추세를 분석합니다. 역추세는 장기 추세가 상승중일때 단기 추세가 하락하면 매수합니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="start_higlight_conent">세번째 창은 앞선 두개의 창에서 보낸 신호를 종합해 동시에 같은 신호를 보낸 경우만을 매매 시기로 판단합니다.</h1>
            </div>
        </div>
    </div>
    <div class="big-bubble">
        <h1 class="nametag">EMA란?</h1>
        <div class="align-text-box">
            <div class="text-box">
                <h1 class="content">EMA는 </h1>
                <h1 class="higlight_conent">지수 이동평균</h1>
                <h1 class="content_tail">을 의미합니다. 이동평균은 모든 투자자들이 사용할만큼 인기있는 핵심 지표 중 하나입니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="content">지수 이동평균은 최근 데이터일수록 추가 가중치를 부여하기 때문에 단순 이동평균보다 흐름을 더 잘 반영합니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="content">따라서 삼중창 매매는</h1>
                <h1 class="higlight_conent">130일 지수 이동평균으로 첫번째 창에서 시장의 장기 추세를 판단한 후 신호를 보냅니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="content">참고로 첫번째 창의 추세추종 지표로 EMA 와 MACD히스토그램 중 원하는 지표를 1개 선택해 사용할 수 있습니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="start_higlight_conent">삼중창 매매의 창시자 알렉산더 엘더가 밝히길 과거엔 MACD히스토그램을 최근에는 EMA를 사용한다고 합니다.</h1>
            </div>
        </div>
    </div>
    <div class="big-bubble">
        <h1 class="tip"> </h1>
        <div class="align-text-box">
            <div class="tip-box">
                <h1 class="tip_highlight_start_content">투자시 발생하는 수익과 손실은 모두 투자자 본인에게 귀속됩니다. 투자 판단에 대한 최종적인 책임과 결정은 본인에게 있음을 명심하세요.</h1>
            </div>
        </div>
    </div>

    <div class="btn_idx_group_close">
        <form action="{% url 'test2:detail' idx=2 %}" method="get">
            <div class="label-box">
                <label> 종목코드 : <input type="text" name="code" placeholder="ex) 005930" size="7"></label>
                <label>/ </label>
                <label>조회 기준일: <input type="text" name="date" placeholder="ex) 1996-02-29" size="10"></label>
            </div>
            <div class="btn-box">
                <button type="submit">
                    <h1 class="btn">매매 시기 확인하기</h1>
                </button>
            </div>
        </form>
    </div>
    <div class="text-box">
        <h1 class="content"></h1>
    </div>

 <div class="btn_idx_group">
        <div class="clickmon_padding">
            <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-US3AzG2s4wVbdDUx"
             data-ad-width   = "728"
             data-ad-height  = "90"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div class="clickmon_padding">
            <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-eq6WX07CTBbJqb5Y"
             data-ad-width   = "320"
             data-ad-height  = "50"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div class="clickmon_padding">
            <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-lKcHICWJnFmU5DOr"
             data-ad-width   = "320"
             data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div class="clickmon_padding">
            <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-l07r9TxgLH6FApez"
             data-ad-width   = "728"
             data-ad-height  = "90"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
  </div>


</body>
</html>

<!--Copyright (c) 2021 by CookiePanda (https://codepen.io/CookiePanda/pen/XqWvdW)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->


<!--Copyright (c) 2021 by Philip Park (https://codepen.io/PhilipMothPark/pen/XMrPRw)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->