<!DOCTYPE html>

{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'test1/style_blank14.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}">
  <script type="text/javascript" src="/static/main/cat.js"></script>
  <title>볼린저 밴드 추세 추종매매</title>
</head>

<body>

    <h1 class="title2">볼린저 밴드 추세 추종매매</h1>
    <div class="big-bubble">
        <h1 class="nametag">볼린저 밴드란?</h1>
        <div class="align-text-box">
            <div class="text-box">
                <h1 class="content">볼린저 밴드는 투자자들이</h1>
                <h1 class="higlight_conent">가장 많이 사용하는 보조지표 중 하나</h1>
                <h1 class="content_tail">입니다. 특히 차트를 분석해 거래하는 투자자들에게</h1>
            </div>
            <div class="text-box">
                <h1 class="content">굉장히 인기있습니다. 이는</h1>
                <h1 class="higlight_conent">주가가 이동평균선을 중심으로 일정한 범위 안에서 움직인다는 전제</h1>
                <h1 class="content_tail">하에 만들어졌습니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="content"> 이 밴드에 대해 통계학에서 이르기를</h1>
                <h1 class="higlight_conent">'주가의 95%는 볼린저 밴드의 상한선과 하한선 사이에서 움직인다'</h1>
                <h1 class="content_tail">라고 합니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="content"> 볼린저 밴드는 주가의 20일 이동평균선을 기준으로 표준편차의 2배값 만큼 위에 상한선,아래에 하한선을 그립니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="content">따라서</h1>
                <h1 class="higlight_conent">밴드폭이 좁을수록 주가의 변동성이 작고, 넓을수록 주가의 변동성이 크다는 것을 한눈에 볼 수 있습니다.</h1>
            </div>
        </div>
    </div>
    <div class="big-bubble">
        <h1 class="nametag">추세 추종매매란?</h1>
        <div class="align-text-box">
            <div class="text-box">
                <h1 class="content">추세 추종은</h1>
                <h1 class="higlight_conent">주가의 상승 추세에 매수, 하락 추세에 매도하는 전략입니다.</h1>
                <h1 class="content_tail"> 볼린저 밴드를 이용한 대부분의 전략은</h1>
            </div>
            <h1 class="content">주가가 볼린저 밴드의 하한선에 닿았을때 매수하고, 상한선에 닿았을때 매도할테지만 이는 잘못된 전략입니다.</h1>
            <h1 class="content">왜냐하면 주가의 변동성과 추세는 이미 볼린저 밴드를 구축할 때 반영되었기 때문에 이를 이용해 주가의 추세를</h1>
            <div class="text-box">
                <h1 class="content">판단 할 수 없기 때문입니다. 따라서 주사장의 추세 추종매매는</h1>
                <h1 class="higlight_conent">추가 지표(밴드표,현금흐름)</h1>
                <h1 class="content_tail">를 이용해 분석합니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="start_higlight_conent">볼린저 밴드지표(%b)</h1>
                <h1 class="content_tail">는 밴드내 주가의 위치를 나타내고,</h1>
                <h1 class="higlight_conent">현금 흐름지표(MFI)</h1>
                <h1 class="content_tail">는 현금 흐름을 추적하는 지표입니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="start_higlight_conent">가격과 거래량 관련 지표를 동시에 분석해 확신이 생긴 경우에만 매수/매도합니다.</h1>
            </div>

        </div>
    </div>

    <div class="big-bubble">
        <h1 class="tip"> </h1>
        <div class="align-text-box">
            <div class="tip-box">
                <h1 class="tip_highlight_start_content">투자시 발생하는 수익과 손실은 모두 투자자 본인에게 귀속됩니다. 투자 판단에 대한 최종적인 책임과 결정은 본인에게 있음을 명심하세요.</h1>
            </div>
        </div>
    </div>

    <div class="btn_idx_group_close">
        <form action="{% url 'test2:detail' idx=0 %}" method="get">
            <div class="label-box">
                <label> 종목코드 : <input type="text" name="code" placeholder="ex) 005930" size="7"></label>
                <label>/ </label>
                <label>조회 기준일: <input type="text" name="date" placeholder="ex) 1996-02-29" size="10"></label>
            </div>
            <div class="btn-box">
                <button type="submit">
                    <h1 class="btn">매매 시기 확인하기</h1>
                </button>
            </div>
        </form>
    </div>
    <div class="text-box">
        <h1 class="content"></h1>
    </div>


    <div class="btn_idx_group">
        <div class="clickmon_padding">
            <script type="text/javascript" >
              if (/android|webos|iphone|ipad|ipod|blackberry|windows phone/i.test(navigator.userAgent))
              {(function(){document.writeln('<iframe width="320" height="100" allowtransparency="true" src="https://mtab.clickmon.co.kr/pop/wp_m_320_100.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1087291%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
              else{(function(){document.writeln('<iframe width="300" height="250" allowtransparency="true" src="https://tab2.clickmon.co.kr/pop/wp_ad_300.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1087291%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
            </script>
        </div>
        <div class="clickmon_padding">
            <script type="text/javascript" >
              if (/android|webos|iphone|ipad|ipod|blackberry|windows phone/i.test(navigator.userAgent))
              {(function(){document.writeln('<iframe width="320" height="50" allowtransparency="true" src="https://mtab.clickmon.co.kr/pop/wp_m_320.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1087291%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
              else{(function(){document.writeln('<iframe width="728" height="90" allowtransparency="true" src="https://tab2.clickmon.co.kr/pop/wp_ad_728.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1087291%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
            </script>
        </div>
    </div>


</body>
</html>

<!--Copyright (c) 2021 by CookiePanda (https://codepen.io/CookiePanda/pen/XqWvdW)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->


<!--Copyright (c) 2021 by Philip Park (https://codepen.io/PhilipMothPark/pen/XMrPRw)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->