<!DOCTYPE html>

{% load static %}

<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-189670847-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-189670847-1');
  </script>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
  <link rel="icon" href="{% static 'main/favicon.ico' %}">
  <script src="{% static 'main/cat.js' %}" type="text/javascript" ></script>
  <script data-ad-client="ca-pub-9317952330520251" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <title>더 이상 걱정말고 주사장!</title>
</head>

<body>
<!--  <div class="body"></div>-->

  <div class="frame" >
    <div id="head">
    <div class="ears"></div>
    <div class="face"></div>
        <div class="face-hl"></div>
        <div class="hair-shadow"></div>
    <div class="hair-back"></div>
        <div class="hair-front"></div>
    <div class="nose"></div>
    <div class="bowtie"></div>
    <div class="eyeglass"></div>

    <div class="eyes-steps eye-left"></div>
    <div class="eyes-steps eye-right"></div>
    <div class="title">
      <h1 class="title text1">주 사 장</h1>
    </div>
  </div>

  <div class="subtitle">
      <h1 class="subtext">사람마다 생김새가 다르듯 투자전략 또한 달라야합니다.</h1>
      <h1 class="subtext">본인의 투자성향을 파악하고 분석전략을 통해 수익률을 높이세요!</h1>
  </div>

  <div class="btn_group">
    <div class="btn-group">
      <a href="{% url 'test1:index' %}" class="btn btn-info">
        <button>
          <h1 class="btn">내 성향에 맞는 종목 선정</h1>
        </button>
      </a>
    </div>

    <div class="btn-group">
      <a href="{% url 'test2:index' %}" class="btn btn-info">
        <button >
          <h1 class="btn">내 전략에 맞는 매매 시기</h1>
        </button>
      </a>
    </div>

    <div class="btn-group">
      <a href="{% url 'test3:index' %}" class="btn btn-info">
        <button >
            <h1 class="btn">관심종목 투자 성과 분석</h1>
        </button>
      </a>
    </div>

    <div class="btn-group">
      <a href="{% url 'test4:index' %}" class="btn btn-info">
        <button class="btn_special">
            <h1 class="btn">머신러닝 금융 분석실</h1>
        </button>
      </a>
    </div>
  </div>

  <div class="disqus-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
      {% load disqus_tags %}
      {% disqus_show_comments %}
    </div>
    <div class="col-md-2"></div>
  </div>


  <div class="banner_box">
    <div class="ad-banner_line">
      <ins class="kakao_ad_area" style="display:none;"
       data-ad-unit    = "DAN-Lqw7IbYJhg2dpnRh"
       data-ad-width   = "320"
       data-ad-height  = "50"></ins>
      <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    <div class="ad-banner_line">
      <ins class="kakao_ad_area" style="display:none;"
       data-ad-unit    = "DAN-1zvd3BlD2GEOwYWi"
       data-ad-width   = "320"
       data-ad-height  = "50"></ins>
      <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
  </div>

  <div class="banner_box">
    <div class="ad-banner_line">
      <ins class="kakao_ad_area" style="display:none;"
       data-ad-unit    = "DAN-pB6vm4lS970OBFLx"
       data-ad-width   = "320"
       data-ad-height  = "50"></ins>
      <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    <div class="ad-banner_line">
      <ins class="kakao_ad_area" style="display:none;"
       data-ad-unit    = "DAN-qMhOXpKFHmZFUxq7"
       data-ad-width   = "320"
       data-ad-height  = "50"></ins>
      <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
  </div>

<!--    -->
<!--  <div class="ad-banner_longline">-->
<!--    <ins class="kakao_ad_area" style="display:none;"-->
<!--     data-ad-unit    = "DAN-GQT8imcHrYHQQedu"-->
<!--     data-ad-width   = "728"-->
<!--     data-ad-height  = "90"></ins>-->
<!--    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>-->
<!--  </div>-->

<!--  <div class="ad-banner_longline">-->
<!--    <ins class="kakao_ad_area" style="display:none;"-->
<!--     data-ad-unit    = "DAN-yw83KD90f5sV4H8F"-->
<!--     data-ad-width   = "728"-->
<!--     data-ad-height  = "90"></ins>-->
<!--    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>-->
<!--  </div>-->

<!--  <div class="ad-banner_longline">-->
<!--    <ins class="kakao_ad_area" style="display:none;"-->
<!--     data-ad-unit    = "DAN-Wk3soRatBmqM83Jf"-->
<!--     data-ad-width   = "728"-->
<!--     data-ad-height  = "90"></ins>-->
<!--    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>-->
<!--  </div>-->

  <div class="tailtitle">
    <h1 class="tailtext">Contact : +82)010-2967-4968 / joojs2004@gmail.com</h1>
    <h1 class="tailtext">Copyright &copy; 2021. CRIMSON JOO 주정수 All Rights Reserved.</h1>
  </div>

</body>

</html>

<!--Copyright (c) 2021 by CookiePanda (https://codepen.io/CookiePanda/pen/XqWvdW)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->


<!--Copyright (c) 2021 by Philip Park (https://codepen.io/PhilipMothPark/pen/XMrPRw)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->



