<!DOCTYPE html>

{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'test1/style1.css' %}">
  <link rel="icon" href="{% static 'main/favicon.ico' %}">
  <script type="text/javascript" src="/static/main/cat.js"></script>
  <title>종목 선정 검사</title>
</head>

<body>
<!--  <div class="body"></div>-->

  <div class="frame" >
    <div id="head">
    <div class="ears"></div>
    <div class="face"></div>
        <div class="face-hl"></div>
        <div class="hair-shadow"></div>
    <div class="hair-back"></div>
        <div class="hair-front"></div>
    <div class="nose"></div>
    <div class="bowtie"></div>
    <div class="eyeglass"></div>

    <div class="eyes-steps eye-left"></div>
    <div class="eyes-steps eye-right"></div>
    <div class="title">
      <h1 class="title text1">첫번째 질문</h1>
    </div>
  </div>
  <div class="subtitle">
      <h1 class="subtext">기초 금융지식을 알고 있습니까?</h1>
  </div>

  <div class="btn_group test">
    <div class="btn-group test">
      <a href="{% url 'test1:question2' %}" class="btn btn-info">
        <button>
          <h1 class="btn">그렇습니다</h1>
        </button>
      </a>
    </div>

    <div class="btn-group test">
      <a href="{% url 'test1:question2' %}" class="btn btn-info">
        <button >
          <h1 class="btn">아닙니다</h1>
        </button>
      </a>
    </div>
  </div>

  <div class="ad-banner_longline">
    <ins class="kakao_ad_area" style="display:none;"
     data-ad-unit    = "DAN-c16QNfgnyBrKxmFy"
     data-ad-width   = "728"
     data-ad-height  = "90"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
  </div>

  <div class="ad-banner_longline">
    <ins class="kakao_ad_area" style="display:none;"
     data-ad-unit    = "DAN-Wk3soRatBmqM83Jf"
     data-ad-width   = "728"
     data-ad-height  = "90"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
  </div>

  <div class="ad-banner_longline">
    <ins class="kakao_ad_area" style="display:none;"
     data-ad-unit    = "DAN-GQT8imcHrYHQQedu"
     data-ad-width   = "728"
     data-ad-height  = "90"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
  </div>

  <div class="ad-banner_longline">
    <ins class="kakao_ad_area" style="display:none;"
     data-ad-unit    = "DAN-yw83KD90f5sV4H8F"
     data-ad-width   = "728"
     data-ad-height  = "90"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
  </div>

</body>
</html>

<!--Copyright (c) 2021 by CookiePanda (https://codepen.io/CookiePanda/pen/XqWvdW)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->


<!--Copyright (c) 2021 by Philip Park (https://codepen.io/PhilipMothPark/pen/XMrPRw)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->
