<!DOCTYPE html>

{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'test1/style_blank14.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}">
  <script type="text/javascript" src="/static/main/cat.js"></script>
  <title>듀얼 모멘텀 투자</title>
</head>

<body>
    <h1 class="title2">듀얼 모멘텀 투자</h1>
    <div class="big-bubble">
        <h1 class="nametag">모멘텀 투자란?</h1>
        <div class="align-text-box">
            <div class="text-box">
                <h1 class="content">금융 분야에서 사용되는 모멘텀은</h1>
                <h1 class="higlight_conent">'한번 정해진 주가의 움직임이 계속 같은 방향으로 나아가려는 성질'</h1>
                <h1 class="content_tail">을 의미합니다.</h1>
            </div>
            <h1 class="content">이 현상은 최근 주가의 움직임이 미래에도 계속 이어질 것이라 믿는 확증 편향을 가진 투자자들 때문에 발생합니다.</h1>
            <div class="text-box">
                <h1 class="content">전설적인 투자자 제시 리버모어 역시</h1>
                <h1 class="higlight_conent">'큰 돈을 벌기 위해서는 시장의 추세를 판단해 추종해야 한다!'</h1>
                <h1 class="content_tail">라고 말했습니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="content">현대의 모멘텀 투자는 전년도 수익률이 가장 높았던 종목들이 다음해 역시 수익률이 높은 경향이 있음을 밝혔습니다.</h1>
            </div>

            <div class="text-box">
                <h1 class="start_higlight_conent">모멘텀 투자의 핵심전략은 최근 6개월간 최강세주 상위 10%를 매수해 중기매매하는 것 입니다.</h1>
                <h1 class="content_space_tail">듀얼 모멘텀 투자는</h1>
            </div>

            <div class="text-box">
                <h1 class="start_higlight_conent">상승장에서만 투자하는 절대적 모멘텀</h1>
                <h1 class="content_tail">과</h1>
                <h1 class="higlight_conent">수익률이 높은 종목들만 투자하는 상대적 모멘텀</h1>
                <h1 class="content_tail">을 동시에 사용합니다.</h1>
            </div>
        </div>
    </div>
    <div class="big-bubble">
        <h1 class="nametag">듀얼 모멘텀 투자란?</h1>
        <div class="align-text-box">
            <div class="text-box">
                <h1 class="content">게리 안토나치가 발표한 듀얼 모멘텀 투자는 절대적 모멘텀과 상대적 모멘텀 을 동시에 이용하는 듀얼 전략입니다.</h1>
            </div>

            <div class="text-box">
                <h1 class="start_higlight_conent">해당 전략은 6~12개월 동안 높은 수익률을 보인 강세장에서 상대적으로 수익률이 높은 상위 종목만을 투자합니다.</h1>
            </div>

            <h1 class="content">하지만 아무리 투자전략이 좋다한들 투자자 본인이 쉽게 사용할 수 없다면 '빛 좋은 개살구'일 것입니다. 따라서</h1>
            <div class="text-box">
                <h1 class="start_higlight_conent">듀얼 모멘텀 투자전략을 이용해 엄선한 종목도표</h1>
                <h1 class="content_tail">와 </h1>
                <h1 class="higlight_conent">각종 성능 지표를 이용한 분산투자 포트폴리오</h1>
                <h1 class="content_tail">를 준비했습니다.</h1>
            </div>
        </div>
    </div>

    <div class="big-bubble">
        <h1 class="tip"> </h1>
        <div class="align-text-box">
            <div class="tip-box">
                <h1 class="tip_highlight_content">금일 기준으로 매번 새로이 코스닥 시장에 상장된 모든 종목에 해당 전략을 적용합니다.</h1>
            </div>
            <div class="tip-box">
                <h1 class="tip_highlight_content"><종목 선정하기>클릭시, 계산 완료까지 필요한 시간은 대략 30분 내외로 예상합니다.</h1>
            </div>
        </div>
    </div>

    <div class="btn_idx_group ">
        <div class="btn-group test">
          <a href="{% url 'test1:detail' idx=3  %}" class="btn btn-info">
            <button>
              <h1 class="btn">종목 선정하기</h1>
            </button>
          </a>
        </div>
        <div class="btn-group_vert test">
          <a href="{% url 'test1:payment' idx=1 %}" class="btn btn-info">
            <button>
              <h1 class="small_btn">시간이 없으신가요?</h1>
            </button>
          </a>
        </div>
    </div>

</body>
</html>

<!--Copyright (c) 2021 by CookiePanda (https://codepen.io/CookiePanda/pen/XqWvdW)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->


<!--Copyright (c) 2021 by Philip Park (https://codepen.io/PhilipMothPark/pen/XMrPRw)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->
