<!DOCTYPE html>

{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'test1/style_blank14.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}">
  <script type="text/javascript" src="/static/main/cat.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script data-ad-client="ca-pub-9317952330520251" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <title>파생상품 ETF</title>
</head>

<body>

<h1 class="title2">파생상품 ETF 투자</h1>

<div class="big-bubble">
    <h1 class="nametag">ETF란?</h1>
    <div class="align-text-box">
        <div class="text-box">
            <h1 class="content">ETF는</h1>
            <h1 class="higlight_conent">"주식과 펀드의 장점만 골라 담은 종합선물세트"</h1>
            <h1 class="content">입니다.</h1>
        </div>

        <div class="text-box">
            <h1 class="content">한마디로 ETF는</h1>
            <h1 class="higlight_conent">특정 지수(인덱스)의 수익률을 추종하도록 설계된 펀드이지만 주식처럼 매매할 수 있습니다.</h1>
        </div>

        <div class="text-box">
            <h1 class="start_higlight_conent">실시간 매매가 가능한 주식의 장점과 우량주에 골고루 분산투자할 수 있는 펀드의 장점을 모두 가지고 있습니다.</h1>
        </div>

        <div class="text-box">
            <h1 class="content">따라서 개별주식과 달리</h1>
            <h1 class="higlight_conent">ETF는 1주만 사더라도, 자동으로 분산투자를 할 수 있는 엄청난 금융투자상품입니다.</h1>
        </div>
    </div>
</div>

<div class="big-bubble">
    <h1 class="nametag">파생상품 ETF란?</h1>
    <div class="align-text-box">

        <div class="text-box">
            <h1 class="content">파생상품 ETF는</h1>
            <h1 class="higlight_conent">【레버리지 / 인버스 ETF】</h1>
            <h1 class="content">로 구성되어 있습니다.</h1>
        </div>

        <div class="text-box">
            <h1 class="content">ETF는 </h1>
            <h1 class="higlight_conent">특정 지수만큼의 수익률을 추종하기 때문에 주식/채권/원유/통화/반도체 같은 다양한 지수를 추적합니다.</h1>
        </div>

        <div class="text-box">
            <h1 class="content">따라서 ETF는 종목이 다양합니다.</h1>
            <h1 class="start_higlight_conent">그 중 가장 국내/해외 시장 대표 지수를 추적하는 ETF 종목이 대표적입니다.</h1>
        </div>

        <div class="text-box">
            <h1 class="content">파생상품 ETF는 시장 대표 지수뿐만 아니라 다양한 자산의 지수를 추적해 </h1>
            <h1 class="higlight_conent">초과 수익률을 추구하는 종목입니다.</h1>
        </div>


    </div>
</div>

<div class="big-bubble">
    <h1 class="nametag">파생상품 ETF 특징</h1>
    <div class="align-text-box">
        <div class="text-box">
            <h1 class="start_higlight_conent">【레버리지ETF】 : 주가 상승 추세에 지렛대 효과를 이용해 몇 배만큼 수익을 내는 ETF 종목</h1>
        </div>

        <div class="text-box">
            <h1 class="start_higlight_conent">【인버스ETF】 : 주가 하락 추세에 오히려 하락률의 몇 배만큼 수익을 내는 ETF 종목</h1>
        </div>

    </div>
</div>

<div class="big-bubble">
    <h1 class="nametag">파생상품 ETF의 장점</h1>
    <div class="align-text-box">
        <div class="text-box">
            <h1 class="content">장점 Ⅰ.</h1>
            <h1 class="higlight_conent">적은 금액으로 대형/우량주에 분산투자 가능</h1>
        </div>
        <div class="text-box">
            <h1 class="content">장점 Ⅱ.</h1>
            <h1 class="higlight_conent">국가별 시장수익률을 넘어선 초과 수익률</h1>
        </div>
        <div class="text-box">
            <h1 class="content">장점 Ⅲ.</h1>
            <h1 class="higlight_conent">실시간으로 간편하고 쉬운 매매 가능</h1>
        </div>
        <div class="text-box">
            <h1 class="content">장점 Ⅳ.</h1>
            <h1 class="higlight_conent">다양한 자산에 매매 전략 구현 가능</h1>
        </div>
        <div class="text-box">
            <h1 class="content">장점 Ⅴ.</h1>
            <h1 class="higlight_conent">투명한 펀드 운용</h1>
        </div>
    </div>
</div>

<h1 class="title2"></h1>

<div class="table_box">
    <table>
      <caption>파생상품 ETF 대표종목</caption>
      <thead>
        <tr>
          <th scope="col">종목코드</th>
          <th scope="col">종목명</th>
          <th scope="col">기초지수</th>
          <th scope="col">자산운용사</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Account">122630</td>
          <td data-label="Due Date">KODEX 레버리지</td>
          <td data-label="Amount">코스피 200</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">233740</td>
          <td data-label="Due Date">KODEX 코스닥150레버리지</td>
          <td data-label="Amount">코스닥 150</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">409820</td>
          <td data-label="Due Date">KODEX 미국나스닥100레버리지(합성 H)</td>
          <td data-label="Amount">NASDAQ 100</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">204480</td>
          <td data-label="Due Date">TIGER 차이나CSI300레버리지(합성)</td>
          <td data-label="Amount">CSI 300</td>
          <td data-label="Period">미래에셋자산</td>
        </tr>
        <tr>
          <td data-label="Account">225040</td>
          <td data-label="Due Date">TIGER 미국S&P500레버리지(합성 H)</td>
          <td data-label="Amount">S&P 500</td>
          <td data-label="Period">미래에셋자산</td>
        </tr>

        <tr>
          <td data-label="Account">236350</td>
          <td data-label="Due Date">TIGER 인도니프티50레버리지(합성)</td>
          <td data-label="Amount">Nifty 50</td>
          <td data-label="Period">미래에셋자산</td>
        </tr>
        <tr>
          <td data-label="Account">243880</td>
          <td data-label="Due Date">TIGER 200IT레버리지</td>
          <td data-label="Amount">코스피 200 IT</td>
          <td data-label="Period">미래에셋자산</td>
        </tr>
        <tr>
          <td data-label="Account">261110</td>
          <td data-label="Due Date">TIGER 미국달러선물레버리지</td>
          <td data-label="Amount">미국달러선물</td>
          <td data-label="Period">미래에셋자산</td>
        </tr>
        <tr>
          <td data-label="Account">252670</td>
          <td data-label="Due Date">KODEX 200선물인버스2X</td>
          <td data-label="Amount">코스피 200 선물</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">261260</td>
          <td data-label="Due Date">KODEX 미국달러선물인버스2X</td>
          <td data-label="Amount">미국달러선물</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">28200</td>
          <td data-label="Due Date">KBSTAR 국고채3년선물인버스</td>
          <td data-label="Amount">국채선물</td>
          <td data-label="Period">KB자산</td>
        </tr>
        <tr>
          <td data-label="Account">409810</td>
          <td data-label="Due Date">KODEX 미국나스닥100선물인버스(H)</td>
          <td data-label="Amount">NASDAQ 100</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">271050</td>
          <td data-label="Due Date">KODEX WTI원유선물인버스(H)</td>
          <td data-label="Amount">S&P Crude Oil ER</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">205720</td>
          <td data-label="Due Date">KINDEX 일본TOPIX인버스(합성H)</td>
          <td data-label="Amount">TOPIX</td>
          <td data-label="Period">한국투자신탁</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="btn_idx_group_close">
        <div class="btn-group test">
            <div class="btn_idx_group_close">
                <form action="{% url 'test1:detail' idx=1 %}" method="get">
                    <div class="label-box">
                        <label> 종목코드 : <input type="text" name="code" placeholder="ex) 122630" size="7"></label>
                        <label>/ </label>
                        <label>조회 기준일: <input type="text" name="date" placeholder="ex) 1996-02-29" size="10"></label>
                    </div>
                    <div class="btn-box">
                        <button  id="Select" type="submit">
                            <h1 class="btn">종목 분석하기</h1>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="btn-group_vert test">
          <a href="{% url 'main:index' %}" class="btn btn-info">
            <button>
              <h1 class="small_btn">메인화면으로</h1>
            </button>
          </a>
        </div>
        <div class="big-bubble">
            <h1 class="tip">TIP</h1>
            <div class="align-text-box">
                <div class="tip-box">
                    <h1 class="tip_highlight_content">아래의 『자세히 알아보기』 버튼을 클릭해 【ETF 상세 설명 & 목록표】 를 확인해보세요!</h1>
                </div>
            </div>
        </div>
        <div class="btn-group_vert test">
          <a href="https://contents.premium.naver.com/assetneversleeps/assetneversleep/contents?categoryId=182f9a8d82d0004d2" class="btn btn-info">
            <button>
              <h1 class="small_btn">자세히 알아보기</h1>
            </button>
          </a>
        </div>
</div>


 <div class="btn_idx_group">
         <div class="img_box_jocoding">
            <a href="https://m.expert.naver.com/expert/profile/home?storeId=100033790" class="btn btn-info">
              <img src="{% static "main/banner1.png" %}">
            </a>
        </div>
        <div class="img_box_jocoding">
        </div>
         <div class="img_box_jocoding">
                <a href="https://contents.premium.naver.com/assetneversleeps/assetneversleep" class="btn btn-info">
                  <img src="{% static "main/banner2.png" %}">
                </a>
        </div>
        <div class="clickmon_padding">
            <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-US3AzG2s4wVbdDUx"
             data-ad-width   = "728"
             data-ad-height  = "90"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div class="clickmon_padding">
            <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-eq6WX07CTBbJqb5Y"
             data-ad-width   = "320"
             data-ad-height  = "50"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div class="clickmon_padding">
            <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-lKcHICWJnFmU5DOr"
             data-ad-width   = "320"
             data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div class="clickmon_padding">
            <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-l07r9TxgLH6FApez"
             data-ad-width   = "728"
             data-ad-height  = "90"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
  </div>


<div id="loading">
    <div class="loading">Loading&#8230;</div>
</div>
<script>
$(document).ready(function() {
    $('#loading').hide();
    $("#Select").bind("click",function(){
        $('#loading').show();
         return true;
    });
});
</script>
</body>
</html>

<!--Copyright (c) 2021 by CookiePanda (https://codepen.io/CookiePanda/pen/XqWvdW)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->


<!--Copyright (c) 2021 by Philip Park (https://codepen.io/PhilipMothPark/pen/XMrPRw)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->
