<!DOCTYPE html>

{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'test1/style_blank14.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}">
  <script type="text/javascript" src="/static/main/cat.js"></script>
  <title>파생상품 ETF투자</title>
</head>

<body>

<h1 class="title2">파생상품 ETF투자</h1>

<div class="big-bubble">
    <h1 class="nametag">파생상품 ETF란?</h1>
    <div class="align-text-box">

        <div class="text-box">
            <h1 class="content">파생상품 ETF는 다양한 ETF상품 중 하나입니다.</h1>
            <h1 class="higlight_conent">ETF는 인덱스를 선택해 해당 지수의 수익률을 따라가는 종목입니다.</h1>
        </div>

        <div class="text-box">
            <h1 class="content">ETF가 추적 가능한 인덱스는 금,화폐,반도체 등 다양합니다. 그 중 시장대표지수를 추적하는 종목이 가장 대표적입니다.</h1>
        </div>

        <div class="text-box">
            <h1 class="start_higlight_conent">파생상품 ETF는 시장대표지수를 추적하지만 시장의 수익률 보다 더 많은 초과 수익률을 내기 위해 탄생한 상품입니다.</h1>
        </div>

        <div class="text-box">
            <h1 class="content">파생상품은 크게 두가지로 나뉩니다. 주가 상승추세에 지렛대 효과를 사용해 몇 배수로 수익을 내는</h1>
            <h1 class="higlight_conent">레버리지ETF</h1>
            <h1 class="content_tail">와</h1>
        </div>

        <div class="text-box">
            <h1 class="content">주가 하락추세에 일반적인 종목들과 달리 오히려 하락률 만큼 수익을 낼 수 있는 </h1>
            <h1 class="higlight_conent">인버스ETF</h1>
            <h1 class="content_tail">가 대표적입니다.</h1>
        </div>

    </div>
</div>

<div class="big-bubble">
    <h1 class="nametag">파생상품 ETF 특징</h1>
    <div class="align-text-box">
        <div class="text-box">
            <h1 class="start_higlight_conent">레버리지ETF : 코스피200이 5% 상승했다면, 레버리지ETF는 10% 상승해 시장수익률을 초과할 수 있습니다.</h1>
        </div>

        <div class="text-box">
            <h1 class="start_higlight_conent">인버스ETF : 코스피200선물이 5% 하락했다면, 인버스ETF는 오히려 5% 상승해 시장수익률을 역행합니다.</h1>
        </div>

    </div>
</div>

<div class="big-bubble">
    <h1 class="nametag">파생상품 ETF의 장점</h1>
    <div class="align-text-box">
        <div class="text-box">
            <h1 class="content">첫째, 특정 종목이 아닌 시장 전체를 사는 셈이기에</h1>
            <h1 class="higlight_conent">적은 자본으로도 우량주 분산투자가 가능하다.</h1>
        </div>
        <div class="text-box">
            <h1 class="content">둘째, 투자비용이 저렴하고 </h1>
            <h1 class="higlight_conent">중도환매수수료가 없으며 주식과 달리 거래세 또한 면제받을 수 있다.</h1>
        </div>
        <div class="text-box">
            <h1 class="content">셋째, 이론적으로 </h1>
            <h1 class="higlight_conent">시장 상황에 상관없이 수익을 낼 수 있으며</h1>
            <h1 class="content_space_tail"> 다양한 전략의 적용이 가능하다.</h1>
        </div>
        <div class="text-box">
            <h1 class="content">넷째, 주식과 동일한 방법으로 거래되</h1>
            <h1 class="higlight_conent">실시간 매매가 가능하며</h1>
            <h1 class="content_space_tail">상황에 따른 유동적인 대처가 가능하다.</h1>
        </div>
        <div class="text-box">
            <h1 class="content">다섯째, 주식과 달리 </h1>
            <h1 class="higlight_conent">개별종목 선택에 대한 부담감이 적고</h1>
            <h1 class="content_space_tail">다양한 ETF의 장점들을 이용할 수 있다.</h1>
        </div>
    </div>
</div>

<div class="table_box">
    <table>
      <caption>레버리지/인버스 ETF 상품</caption>
      <thead>
        <tr>
          <th scope="col">기초지수</th>
          <th scope="col">종목명</th>
          <th scope="col">종목코드</th>
          <th scope="col">연 보수(%)</th>
          <th scope="col">자산운용사</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Account">(코스피200) x 2</td>
          <td data-label="Due Date">KODEX레버리지</td>
          <td data-label="Amount">122630</td>
          <td data-label="Period">0.64</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스피200선물</td>
          <td data-label="Due Date">TIGER200선물레버리지</td>
          <td data-label="Amount">267770</td>
          <td data-label="Period">0.09</td>
          <td data-label="Period">미래에셋자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스피200선물</td>
          <td data-label="Due Date">KOSEF200선물레버리지</td>
          <td data-label="Amount">253250</td>
          <td data-label="Period">0.46</td>
          <td data-label="Period">키움투자자산</td>
        </tr>
        <tr>
          <td data-label="Account">(코스닥150) x 2</td>
          <td data-label="Due Date">KODEX코스닥150레버리지</td>
          <td data-label="Amount">233740</td>
          <td data-label="Period">0.09</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">F-코스닥150</td>
          <td data-label="Due Date">KBSTAR코스닥150선물레버리지</td>
          <td data-label="Amount">278240</td>
          <td data-label="Period">0.60</td>
          <td data-label="Period">케이비자산</td>
        </tr>

        <tr>
          <td data-label="Account">코스닥150</td>
          <td data-label="Due Date">TIGER코스닥150레버리지</td>
          <td data-label="Amount">233160</td>
          <td data-label="Period">0.32</td>
          <td data-label="Period">미래에셋자산</td>
        </tr>
        <tr>
          <td data-label="Account">(코스피200선물) x -2</td>
          <td data-label="Due Date">KODEX200선물인버스2X</td>
          <td data-label="Amount">252670</td>
          <td data-label="Period">0.64</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">(코스피200선물) x -2</td>
          <td data-label="Due Date">TIGER200선물인버스2X</td>
          <td data-label="Amount">252710</td>
          <td data-label="Period">0.09</td>
          <td data-label="Period">미래에셋자산</td>
        </tr>
        <tr>
          <td data-label="Account">(코스피200선물) x -1</td>
          <td data-label="Due Date">KODEX200인버스</td>
          <td data-label="Amount">114800</td>
          <td data-label="Period">0.64</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">(코스피200선물) x -1</td>
          <td data-label="Due Date">HANARO200선물인버스</td>
          <td data-label="Amount">306520</td>
          <td data-label="Period">0.45</td>
          <td data-label="Period">엔에이치아문디</td>
        </tr>
        <tr>
          <td data-label="Account">F-코스닥150</td>
          <td data-label="Due Date">KODEX코스닥150선물인버스</td>
          <td data-label="Amount">251340</td>
          <td data-label="Period">0.64</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">국채선물</td>
          <td data-label="Due Date">KODEX국채선물10년인버스</td>
          <td data-label="Amount">176950</td>
          <td data-label="Period">0.07</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">국채</td>
          <td data-label="Due Date">KOSEF국고채10년레버리지</td>
          <td data-label="Amount">167860</td>
          <td data-label="Period">0.30</td>
          <td data-label="Period">키움투자자산</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="big-bubble">
    <h1 class="tip">주사장's TIP</h1>
    <div class="align-text-box">
        <div class="tip-box">
            <h1 class="tip_highlight_content">주사장 역시 <골든크로스&데드크로스 전략>을 이용해 파생상품 ETF투자를 하고 있습니다.</h1>
        </div>
        <div class="tip-box">
            <h1 class="tip_highlight_content">자동매매 프로그램을 제작해 월 평균 10~15% 정도의 수익률을 기록하고 있습니다.</h1>
        </div>
    </div>
</div>


<div class="btn_idx_group_close">
        <div class="btn-group test">
            <div class="btn_idx_group_close">
                <form action="{% url 'test1:detail' idx=1 %}" method="get">
                    <div class="label-box">
                        <label> 종목코드 : <input type="text" name="code" placeholder="ex) 122630" size="7"></label>
                        <label>/ </label>
                        <label>조회 기준일: <input type="text" name="date" placeholder="ex) 1996-02-29" size="10"></label>
                    </div>
                    <div class="btn-box">
                        <button type="submit">
                            <h1 class="btn">전략 적용하기</h1>
                        </button>
                    </div>
                </form>
            </div>
        </div>
</div>


<div class="banner_box">
    <div class="ad-banner_line">
        <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit    = "DAN-3Ej6wv1rOcIFw7HT"
         data-ad-width   = "320"
         data-ad-height  = "100"></ins>
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    <div class="ad-banner_line">
        <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit    = "DAN-xwzdcUCjG2tcZ0hB"
         data-ad-width   = "320"
         data-ad-height  = "100"></ins>
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
</div>

<div class="banner_box">
    <div class="ad-banner_line">
        <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit    = "DAN-JmpCRb9HIVtPr5EG"
         data-ad-width   = "320"
         data-ad-height  = "100"></ins>
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    <div class="ad-banner_line">
        <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit    = "DAN-eQ9xbn3U7fNRG3hu"
         data-ad-width   = "320"
         data-ad-height  = "100"></ins>
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
</div>

</body>
</html>

<!--Copyright (c) 2021 by CookiePanda (https://codepen.io/CookiePanda/pen/XqWvdW)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->


<!--Copyright (c) 2021 by Philip Park (https://codepen.io/PhilipMothPark/pen/XMrPRw)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->
