<!DOCTYPE html>

{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'test1/style_blank14.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}">
  <script type="text/javascript" src="/static/main/cat.js"></script>
  <title>시장대표지수 ETF투자</title>
</head>

<body>

<h1 class="title2">시장대표지수 ETF투자</h1>

<div class="big-bubble">
    <h1 class="nametag">시장대표지수 ETF란?</h1>
    <div class="align-text-box">
        <div class="text-box">
            <h1 class="content">시장대표지수 ETF는 다양한 ETF상품 중 하나입니다.</h1>
            <h1 class="higlight_conent">ETF란 인덱스를 선택해 해당 수익률을 따라가는 금융상품입니다.</h1>
        </div>

        <div class="text-box">
            <h1 class="content">ETF가 추적 가능한 인덱스는 화폐,반도체 등 다양하지만 그 중 가장 대표적인 것은 시장대표지수를 추적하는 상품입니다.</h1>
        </div>

        <div class="text-box">
            <h1 class="content">시장대표지수 ETF는 다양한 장점이 있고 쉽게 거래할 수 있기 때문에 거래량과 순자산규모가 ETF 중 압도적으로 큽니다.</h1>
        </div>

        <div class="text-box">
            <h1 class="start_higlight_conent">해당 ETF는 코스피/코스닥 지수를 추적하며, 단 1주를 사더라도 해당 시장의 우량주에 분산투자한 효과를 볼 수 있습니다.</h1>
        </div>

    </div>
</div>
<div class="big-bubble">
    <h1 class="nametag">시장대표지수 ETF투자의 장점</h1>
    <div class="align-text-box">
        <div class="text-box">
            <h1 class="content">첫째, 특정 종목이 아닌 시장 전체를 사는 셈이기에</h1>
            <h1 class="higlight_conent">적은 자본으로도 우량주 분산투자가 가능하다.</h1>
        </div>
        <div class="text-box">
            <h1 class="content">둘째, 투자비용이 저렴하고</h1>
            <h1 class="higlight_conent">중도환매수수료가 없으며 주식과 달리 거래세 또한 면제받을 수 있다.</h1>
        </div>
        <div class="text-box">
            <h1 class="content">셋째, 개인투자자들의 평균 수익률은 항상 시장수익률 보다 낮기때문에</h1>
            <h1 class="higlight_conent">투자수익률에서 유리하다</h1>
        </div>
        <div class="text-box">
            <h1 class="content">넷째, 주식과 동일한 방법으로 거래되므로</h1>
            <h1 class="higlight_conent">누구나 쉽고 간편하게 실시간으로 거래할 수 있다.</h1>
        </div>
        <div class="text-box">
            <h1 class="content">다섯째,주식과 달리 </h1>
            <h1 class="higlight_conent">개별종목 선택에 대한 부담감이 적고 배당수익까지 챙길 수 있다.</h1>
        </div>
    </div>
</div>

<div class="table_box">
    <table>
      <caption>시장대표지수 ETF 상품</caption>
      <thead>
        <tr>
          <th scope="col">구분</th>
          <th scope="col">종목명</th>
          <th scope="col">종목코드</th>
          <th scope="col">연 보수(%)</th>
          <th scope="col">자산운용사</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Account">코스피</td>
          <td data-label="Due Date">KODEX코스피</td>
          <td data-label="Amount">226490</td>
          <td data-label="Period">0.30</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스피200</td>
          <td data-label="Due Date">KODEX200</td>
          <td data-label="Amount">069500</td>
          <td data-label="Period">0.15</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스피200</td>
          <td data-label="Due Date">TIGER200</td>
          <td data-label="Amount">102110</td>
          <td data-label="Period">0.05</td>
          <td data-label="Period">미래에셋자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스피200</td>
          <td data-label="Due Date">KBSTAR200</td>
          <td data-label="Amount">148020</td>
          <td data-label="Period">0.045</td>
          <td data-label="Period">케이비자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스피200</td>
          <td data-label="Due Date">KODEX200TR</td>
          <td data-label="Amount">278530</td>
          <td data-label="Period">0.70</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스피200</td>
          <td data-label="Due Date">KOSEF200TR</td>
          <td data-label="Amount">294400</td>
          <td data-label="Period">0.012</td>
          <td data-label="Period">키움투자자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스피100</td>
          <td data-label="Due Date">KODEX코스피100</td>
          <td data-label="Amount">237350</td>
          <td data-label="Period">0.15</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스피100</td>
          <td data-label="Due Date">KOSEF코스피100</td>
          <td data-label="Amount">153270</td>
          <td data-label="Period">0.195</td>
          <td data-label="Period">키움투자자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스피50</td>
          <td data-label="Due Date">ARIRANG코스피50</td>
          <td data-label="Amount">122090</td>
          <td data-label="Period">0.33</td>
          <td data-label="Period">한화자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스닥150</td>
          <td data-label="Due Date">KODEX코스닥150</td>
          <td data-label="Amount">229200</td>
          <td data-label="Period">0.25</td>
          <td data-label="Period">삼성자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스닥150</td>
          <td data-label="Due Date">TIGER코스닥150</td>
          <td data-label="Amount">232080</td>
          <td data-label="Period">0.19</td>
          <td data-label="Period">미래에셋자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스닥150</td>
          <td data-label="Due Date">KBSTAR코스닥150</td>
          <td data-label="Amount">270810</td>
          <td data-label="Period">0.18</td>
          <td data-label="Period">케이비자산</td>
        </tr>
        <tr>
          <td data-label="Account">코스닥150</td>
          <td data-label="Due Date">KINDEX코스닥150</td>
          <td data-label="Amount">354500</td>
          <td data-label="Period">0.10</td>
          <td data-label="Period">한국투자신탁</td>
        </tr>
        <tr>
          <td data-label="Account">KRX300</td>
          <td data-label="Due Date">SMARTKRX300</td>
          <td data-label="Amount">292500</td>
          <td data-label="Period">0.05</td>
          <td data-label="Period">신한비앤피파리바</td>
        </tr>
        <tr>
          <td data-label="Account">KRX300</td>
          <td data-label="Due Date">KBSTARKRX300</td>
          <td data-label="Amount">292050</td>
          <td data-label="Period">0.05</td>
          <td data-label="Period">케이비자산</td>
        </tr>

      </tbody>
    </table>
</div>

<div class="big-bubble">
    <h1 class="tip">주사장's TIP</h1>
    <div class="align-text-box">
        <div class="tip-box">
            <h1 class="tip_highlight_content">시장대표지수는 끊임없이 부실기업을 퇴출시키고 우량주를 편입시키기 때문에 중장기적으로 보면 우상향 추세입니다.</h1>
        </div>
    </div>
</div>

<div class="btn_idx_group_close">
        <div class="btn-group test">
            <div class="btn_idx_group_close">
                <form action="{% url 'test1:detail' idx=0 %}" method="get">
                    <div class="label-box">
                        <label> 종목코드 : <input type="text" name="code" placeholder="ex) 226490" size="7"></label>
                        <label>/ </label>
                        <label>조회 기준일 : <input type="text" name="date" placeholder="ex) 1996-02-29" size="10"></label>
                    </div>
                    <div class="btn-box">
                        <button type="submit">
                            <h1 class="btn">종목 분석하기</h1>
                        </button>
                    </div>
                </form>
            </div>
        </div>
</div>

<div class="btn_idx_group">
    <div class="clickmon_padding">
        <script type="text/javascript" >
          if (/android|webos|iphone|ipad|ipod|blackberry|windows phone/i.test(navigator.userAgent))
          {(function(){document.writeln('<iframe width="320" height="100" allowtransparency="true" src="https://mtab.clickmon.co.kr/pop/wp_m_320_100.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1087291%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
          else{(function(){document.writeln('<iframe width="300" height="250" allowtransparency="true" src="https://tab2.clickmon.co.kr/pop/wp_ad_300.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1087291%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
        </script>
    </div>
    <div class="clickmon_padding">
        <script type="text/javascript" >
          if (/android|webos|iphone|ipad|ipod|blackberry|windows phone/i.test(navigator.userAgent))
          {(function(){document.writeln('<iframe width="320" height="50" allowtransparency="true" src="https://mtab.clickmon.co.kr/pop/wp_m_320.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1087291%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
          else{(function(){document.writeln('<iframe width="728" height="90" allowtransparency="true" src="https://tab2.clickmon.co.kr/pop/wp_ad_728.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1087291%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
        </script>
    </div>
</div>


</body>
</html>

<!--Copyright (c) 2021 by CookiePanda (https://codepen.io/CookiePanda/pen/XqWvdW)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->


<!--Copyright (c) 2021 by Philip Park (https://codepen.io/PhilipMothPark/pen/XMrPRw)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->
