<!DOCTYPE html>

{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'test1/style_blank14.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}">
  <script type="text/javascript" src="/static/main/cat.js"></script>
    <script data-ad-client="ca-pub-9317952330520251" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <title>주사장의 보고서</title>
</head>

<body>

    <h1 class="title2">종목 분석 보고서</h1>

    <h1 class="img_caption">{{name}} ({{code}})</h1>
    <div class="img_box">
        <img src={{uri}}>
    </div>

    <div class="table_box">
        <table>
          <thead>
            <tr>
              <th scope="col">단순 수익률(%)</th>
              <th scope="col">연평균 복리 수익률(%)</th>
              <th scope="col">최대 낙폭(%)</th>
              <th scope="col">변동성(%)</th>
              <th scope="col">샤프 지수</th>
            </tr>
          </thead>
              <tbody>
                <tr>
                    <td data-label="Account">{{returns}}</td>
                    <td data-label="Due Date">{{CAGR}}</td>
                    <td data-label="Amount">{{MDD}}</td>
                    <td data-label="Period">{{VOL}}</td>
                    <td data-label="Period">{{SHARPE}}</td>
                </tr>
              </tbody>
        </table>
    </div>
    <div class="big-bubble">
        <div class="align-text-box">
            <div class="text-box">
                <h1 class="start_higlight_conent">단순 수익률 : 해당 종목의 투자 기간({{start}} ~ {{today}}) 발생한 수익률 입니다.</h1>
            </div>

            <div class="text-box">
                <h1 class="content"></h1>
            </div>
            <div class="text-box">
                <h1 class="start_higlight_conent">연평균 복리 수익률 : 장기투자의 수익률을 평가할 때 반드시 연평균 증가율을 확인 해야합니다.</h1>
            </div>

            <div class="text-box">
                <h1 class="content"></h1>
            </div>

            <div class="text-box">
                <h1 class="start_higlight_conent">최대 낙폭 : 해당 종목의 투자자가 겪을 수 있는 최대 고통을 측정하는 지수이며 낮을수록 좋습니다.</h1>
            </div>

            <div class="text-box">
                <h1 class="content"></h1>
            </div>

            <div class="text-box">
                <h1 class="start_higlight_conent">변동성 : 수익률의 표준 편차로 계산하며 이 수치가 낮을수록 흐름이 안정적이라는 의미입니다.</h1>
            </div>

            <div class="text-box">
                <h1 class="content"></h1>
            </div>
            <div class="text-box">
                <h1 class="start_higlight_conent">샤프 지수 : 위험 대비 수익성을 표현하며 보통 1 이상만 되어도 충분하다고 판단합니다.</h1>
            </div>
        </div>
    </div>

    <div class="big-bubble">
        <h1 class="tip"> </h1>
        <div class="align-text-box">
            <div class="tip-box">
                <h1 class="tip_highlight_start_content">투자시 발생하는 수익과 손실은 모두 투자자 본인에게 귀속됩니다. 투자 판단에 대한 최종적인 책임과 결정은 본인에게 있음을 명심하세요.</h1>
            </div>
        </div>
    </div>



    <div class="btn_idx_group">
        <div class="btn-group test">
          <a href="{% url 'test1:result' num=0 %}" class="btn btn-info">
            <button>
              <h1 class="btn">재설정하기</h1>
            </button>
          </a>
        </div>
        <div class="btn-group_vert test">
          <a href="{% url 'main:index' %}" class="btn btn-info">
            <button>
              <h1 class="small_btn">메인화면으로</h1>
            </button>
          </a>
        </div>
    </div>

<div class="btn_idx_group">
    <div class="clickmon_padding">
        <script type="text/javascript" >
          if (/android|webos|iphone|ipad|ipod|blackberry|windows phone/i.test(navigator.userAgent))
          {(function(){document.writeln('<iframe width="320" height="100" allowtransparency="true" src="https://mtab.clickmon.co.kr/pop/wp_m_320_100.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1087291%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
          else{(function(){document.writeln('<iframe width="300" height="250" allowtransparency="true" src="https://tab2.clickmon.co.kr/pop/wp_ad_300.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1087291%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
        </script>
    </div>
    <div class="clickmon_padding">
        <script type="text/javascript" >
          if (/android|webos|iphone|ipad|ipod|blackberry|windows phone/i.test(navigator.userAgent))
          {(function(){document.writeln('<iframe width="320" height="50" allowtransparency="true" src="https://mtab.clickmon.co.kr/pop/wp_m_320.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1087291%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
          else{(function(){document.writeln('<iframe width="728" height="90" allowtransparency="true" src="https://tab2.clickmon.co.kr/pop/wp_ad_728.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1087291%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
        </script>
    </div>
</div>

</body>
</html>

<!--Copyright (c) 2021 by CookiePanda (https://codepen.io/CookiePanda/pen/XqWvdW)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->


<!--Copyright (c) 2021 by Philip Park (https://codepen.io/PhilipMothPark/pen/XMrPRw)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->
