<!DOCTYPE html>

{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'test1/style_blank14.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}">
  <script type="text/javascript" src="/static/main/cat.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script data-ad-client="ca-pub-9317952330520251" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <title>마법공식 퀀트 투자</title>
</head>

<body>

    <h1 class="title2">마법공식 퀀트 투자</h1>
    <div class="big-bubble">
        <h1 class="nametag">퀀트 투자란?</h1>
        <div class="align-text-box">
            <div class="text-box">
                <h1 class="content">'퀀트 투자'는</h1>
                <h1 class="higlight_conent">객관적인 수치와 데이터를 분석해 투자자 직감이나 편향을 제거한 객관적인 계량적 투자</h1>
                <h1 class="content_tail">를 의미합니다.</h1>
            </div>

            <div class="text-box">
                <h1 class="content">일반적으로 투자자의 종목 선정에 가장 큰 영향을 끼치는 존재는 놀랍게도 자신의 주관적인 사고나 편향이라고 합니다.</h1>
            </div>

            <div class="text-box">
                <h1 class="content">이러한 문제점을 해결하기 위해 </h1>
                <h1 class="higlight_conent">퀀트 투자는 객관적인 데이터를 바탕으로 만들어진 규칙에 근거해 투자를 결정합니다.</h1>
            </div>

            <div class="text-box">
                <h1 class="content">퀀트 투자전략은 다양하지만 가장 유명한 것은 전설적인 대가 그린 블란트가 발표한</h1>
                <h1 class="higlight_conent">'퀀트 투자를 위한 마법공식'</h1>
                <h1 class="content_tail">입니다.</h1>
            </div>
        </div>
    </div>
    <div class="big-bubble">
        <h1 class="nametag">마법공식이란?</h1>
        <div class="align-text-box">
            <div class="text-box">
                <h1 class="content">그린 블란트의 '마법공식 퀀트투자'은 객관적인 데이터를 분석해</h1>
                <h1 class="higlight_conent">우량한 종목을 저렴한 가격에 매수하는 것을 목표합니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="start_higlight_conent">'마법공식'을 발표한 그린 블란트 20년간 연 평균 40%의 수익률을 기록했으며</h1>
                <h1 class="content_space_tail">두가지 지표를 이용해 이를 설명했습니다.</h1>
            </div>
            <div class="text-box">
                <h1 class="content">그는</h1>
                <h1 class="higlight_conent">자본 수익률</h1>
                <h1 class="content_tail">을 통해 투입된 자본 대비,</h1>
                <h1 class="higlight_conent">이익 수익률</h1>
                <h1 class="content_tail">을 통해 주가 대비 얼마의 수익을 올릴 수 있는지 판단했습니다.</h1>
            </div>
            <h1 class="content">현대의 마법공식은 두 지표를 주로 총자산 순이익률(ROA)과 주가 수익률(PER)로 사용합니다. 주사장은 여러분들을 위해</h1>
            <div class="text-box">
                <h1 class="start_higlight_conent">마법공식 퀀트 투자전략을 이용해 엄선한 종목도표</h1>
                <h1 class="content_tail">와</h1>
                <h1 class="higlight_conent">각종 성능 지표를 이용한 분산투자 포트폴리오</h1>
                <h1 class="content_tail">를 준비했습니다.</h1>
            </div>

        </div>
    </div>
    <div class="big-bubble">
        <h1 class="tip"> </h1>
        <div class="align-text-box">
            <div class="tip-box">
                <h1 class="tip_highlight_content">[마법공식 퀀트 투자법]을 이용해 코스닥(KOSDAQ) 시장에 상장된 모든 종목을 분석한 뒤 선정해 보고서를 작성합니다.</h1>
            </div>
            <div class="tip-box">
                <h1 class="tip_highlight_content"></h1>
            </div>
            <div class="tip-box">
                <h1 class="tip_highlight_content"></h1>
            </div>
            <div class="tip-box">
                <h1 class="tip_highlight_content"><종목 선정 보고서> 클릭시, 네이버 프리미엄 콘텐츠 『자산은 잠들지 않는다』으로 이동해 보고서를 확인할 수 있습니다.</h1>
            </div>
            <div class="tip-box">
                <h1 class="tip_highlight_content"><1:1 클래스 신청> 클릭시, 네이버 지식인 엑스퍼트 『주사장』으로 이동해 전문가와 1:1 클래스/상담 신청할 수 있습니다.</h1>
            </div>
        </div>
    </div>

    <div class="btn_idx_group ">
        <div class="btn-group test">
          <a href="https://post.naver.com/series.naver?memberNo=16093479" class="btn btn-info">
            <button id="Select">
              <h1 class="btn">종목 선정 보고서</h1>
            </button>
          </a>
        </div>
        <div class="btn-group test">
          <a href="https://m.expert.naver.com/expert/profile/home?storeId=100033790" class="btn btn-info">
            <button id="Select">
              <h1 class="btn">1:1 클래스 신청</h1>
            </button>
          </a>
        </div>
        <div class="btn-group_vert test">
          <a href="{% url 'main:index' %}" class="btn btn-info">
            <button>
              <h1 class="small_btn">메인화면으로</h1>
            </button>
          </a>
        </div>
    </div>
    <div class="subtite">
        <h1 class="subtext2"> </h1>
    </div>


 <div class="btn_idx_group">
        <div class="img_box_jocoding">
            <a href="https://m.expert.naver.com/expert/profile/home?storeId=100033790" class="btn btn-info">
              <img src="{% static "main/banner1.png" %}">
            </a>
        </div>
        <div class="img_box_jocoding">
        </div>
         <div class="img_box_jocoding">
                <a href="https://contents.premium.naver.com/assetneversleeps/assetneversleep" class="btn btn-info">
                  <img src="{% static "main/banner2.png" %}">
                </a>
        </div>
        <div class="clickmon_padding">
            <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-US3AzG2s4wVbdDUx"
             data-ad-width   = "728"
             data-ad-height  = "90"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div class="clickmon_padding">
            <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-eq6WX07CTBbJqb5Y"
             data-ad-width   = "320"
             data-ad-height  = "50"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div class="clickmon_padding">
            <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-lKcHICWJnFmU5DOr"
             data-ad-width   = "320"
             data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div class="clickmon_padding">
            <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit    = "DAN-l07r9TxgLH6FApez"
             data-ad-width   = "728"
             data-ad-height  = "90"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
  </div>

<div id="loading">
    <div class="loading">Loading&#8230;</div>
</div>
<script>
$(document).ready(function() {
    $('#loading').hide();
    $("#Select").bind("click",function(){
        $('#loading').show();
         return true;
    });
});
</script>

</body>

</html>

<!--Copyright (c) 2021 by CookiePanda (https://codepen.io/CookiePanda/pen/XqWvdW)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->


<!--Copyright (c) 2021 by Philip Park (https://codepen.io/PhilipMothPark/pen/XMrPRw)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->
